
.navbar {
    font-size: 14px;
    width : 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    color: white;
    background : linear-gradient(to top, transparent 0%, rgba(0,0,0,0.3), 50%);
    padding : 10px 0px;
}

.Scrolled {
    background-color : var(--main-color)
}

.container {
    padding : 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.img__logo {
    height: 45px;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

.left {
    display: flex;
    align-items: center;

    span {
        margin-right: 20px;
        cursor: pointer;
    }
    span:hover {
        color: rgb(86, 205, 50);
    }
}

.right {
    display: flex;
    align-items: center;
justify-content: flex-end;

   .icons {
        cursor: pointer;
        margin: 0px 12px;
        font-size: 30px;
       
    }
 span {
    margin: 0px 12px;
    cursor: pointer;
   }
}

.searchbar {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;

    .input {
        padding : 10px;
        padding-left: 25px;
        border: none;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        width: 100%;

        &:focus {
             outline: none;
             margin: 0;
         }

        }
        .searchIcon {
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
            color: var(--main-color);
            width: 25px;
            height: 25px;
            padding: 5px 20px;
            background-color: rgba(211, 211, 211,0.8);
            border-radius: 0 30px 30px 0;
            font-size: 30px;

            &:hover {
                width: 15px;
                padding: 5px 25px;
                background-color: rgba(151, 58, 58, 0.7);
                transition: 0.5s;
            }
          }
        }
}

   